.wid_20{
	width: 25px;
	border: solid 1px silver;
}
.font_10{
	font-size: 12px;	
}
p button{
	cursor: pointer;
	font-weight: bold;
}
.mid{
	text-align: center;
}
.slider{
	position: relative;
	overflow: hidden;
	margin: 0px auto;
	display: block;
	height: 3.6rem;
	width:100%;
}
.slider ul,.slider li{
	height: 100%;
}