@charset "UTF-8";
/* 数字id CSS3 字体 2014.10.22 by zhuzhen*/

/*粗体风格英文字体 可用于1级标题*/
@font-face{
	font-family:"FuturaW01-ExtraBoldCond 774896";
	src:url("../fonts/bec66ca3-753a-469a-b153-fdd9e3ea7ce4.eot?#iefix");
	src:url("../fonts/bec66ca3-753a-469a-b153-fdd9e3ea7ce4.eot?#iefix") format("eot"),
		url("../fonts/04733668-9f3f-4f2f-a534-14fb44683f83.woff") format("woff"),
		url("../fonts/1f9bced0-1224-4785-9553-68fcbac00914.ttf") format("truetype"),
		url("../fonts/23d05127-305c-4753-8f3a-16d8109db5ca.svg#23d05127-305c-4753-8f3a-16d8109db5ca") format("svg");
}

/*瘦高风格英文字体 可用于2级标题*/
@font-face{
	font-family:"TradeGothicW01-BoldCn20 675334";src:url("../fonts/257c802f-349c-4b4d-aefa-546d5de15ec6.eot?#iefix");
	src:url("../fonts/257c802f-349c-4b4d-aefa-546d5de15ec6.eot?#iefix") format("eot"),
		url("../fonts/5fdc935e-9e30-442a-bbe9-8d887b858471.woff") format("woff"),
		url("../fonts/616c4c87-a077-43f4-a9f4-f01267c13818.ttf") format("truetype"),
		url("../fonts/c901ad5f-a842-4549-a1f4-583a97f7e169.svg#c901ad5f-a842-4549-a1f4-583a97f7e169") format("svg");
}

