body{
	background-image: url("../images/login_bg.png");
	background-attachment: scroll;
	background-position: 0 0;
	background-repeat: repeat;
}

#login-container{
  width: 880px;
  margin: 300px auto 0;
  background-image: url("../images/login.png");
  background-attachment:scroll;
  background-color:none;
  background-position:0 0;
  background-repeat:no-repeat;
  height: 425px;
}
#login-container input{
	width: 185px;
}
#div_username,
#div_password,
#div_btn{
	width: 100%;
	display: block;
	text-align: center;
}
#div_username{
	margin: 0 auto;
	position: relative;
	top: 163px;
    left: 25px;
}
#div_password{
	margin: 0 auto;
	position: relative;
	top: 172px;
    left: 25px;
}
@-moz-document url-prefix() { 
	#div_password { top: 175px; } 
}
#div_btn{
	margin: 0 auto;
	position: relative;
	top: 200px;
    left: 12px;
}
#div_btn input{
	width: 75px;
	height: 32px;
	background-color: transparent;
	border: none;
}