<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.penzias.dao.BloodFatExamInfoMapper" >
  <resultMap id="BaseResultMap" type="com.penzias.entity.BloodFatExamInfo" >
    <id column="BloodFatExamID" property="bloodfatexamid" jdbcType="INTEGER" />
    <result column="CrowdID" property="crowdid" jdbcType="INTEGER" />
    <result column="ExamTime" property="examtime" jdbcType="DATE" />
    <result column="Triglyceride" property="triglyceride" jdbcType="DECIMAL" />
    <result column="Cholesterol" property="cholesterol" jdbcType="DECIMAL" />
    <result column="LowCholesterol" property="lowcholesterol" jdbcType="DECIMAL" />
    <result column="HeightCholesterol" property="heightcholesterol" jdbcType="DECIMAL" />
    <result column="Flag" property="flag" jdbcType="VARCHAR" />
  </resultMap>
  <sql id="Example_Where_Clause" >
    <where >
      <foreach collection="oredCriteria" item="criteria" separator="or" >
        <if test="criteria.valid" >
          <trim prefix="(" suffix=")" prefixOverrides="and" >
            <foreach collection="criteria.criteria" item="criterion" >
              <choose >
                <when test="criterion.noValue" >
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue" >
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue" >
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue" >
                  and ${criterion.condition}
                  <foreach collection="criterion.value" item="listItem" open="(" close=")" separator="," >
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Update_By_Example_Where_Clause" >
    <where >
      <foreach collection="example.oredCriteria" item="criteria" separator="or" >
        <if test="criteria.valid" >
          <trim prefix="(" suffix=")" prefixOverrides="and" >
            <foreach collection="criteria.criteria" item="criterion" >
              <choose >
                <when test="criterion.noValue" >
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue" >
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue" >
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue" >
                  and ${criterion.condition}
                  <foreach collection="criterion.value" item="listItem" open="(" close=")" separator="," >
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Base_Column_List" >
    BloodFatExamID, CrowdID, ExamTime, Triglyceride, Cholesterol, LowCholesterol, HeightCholesterol, 
    Flag
  </sql>
  <select id="selectByExample" resultMap="BaseResultMap" parameterType="com.penzias.entity.BloodFatExamInfoExample" >
    select
    <if test="distinct" >
      distinct
    </if>
    <include refid="Base_Column_List" />
    from blood_fat_exam_info
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
    <if test="orderByClause != null" >
      order by ${orderByClause}
    </if>
  </select>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Integer" >
    select 
    <include refid="Base_Column_List" />
    from blood_fat_exam_info
    where BloodFatExamID = #{bloodfatexamid,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer" >
    delete from blood_fat_exam_info
    where BloodFatExamID = #{bloodfatexamid,jdbcType=INTEGER}
  </delete>
  <delete id="deleteByExample" parameterType="com.penzias.entity.BloodFatExamInfoExample" >
    delete from blood_fat_exam_info
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
  </delete>
  <insert id="insert" parameterType="com.penzias.entity.BloodFatExamInfo" >
    insert into blood_fat_exam_info (BloodFatExamID, CrowdID, ExamTime, 
      Triglyceride, Cholesterol, LowCholesterol, 
      HeightCholesterol, Flag)
    values (#{bloodfatexamid,jdbcType=INTEGER}, #{crowdid,jdbcType=INTEGER}, #{examtime,jdbcType=DATE}, 
      #{triglyceride,jdbcType=DECIMAL}, #{cholesterol,jdbcType=DECIMAL}, #{lowcholesterol,jdbcType=DECIMAL}, 
      #{heightcholesterol,jdbcType=DECIMAL}, #{flag,jdbcType=VARCHAR})
  </insert>
  <insert id="insertSelective" parameterType="com.penzias.entity.BloodFatExamInfo" >
    insert into blood_fat_exam_info
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="bloodfatexamid != null" >
        BloodFatExamID,
      </if>
      <if test="crowdid != null" >
        CrowdID,
      </if>
      <if test="examtime != null" >
        ExamTime,
      </if>
      <if test="triglyceride != null" >
        Triglyceride,
      </if>
      <if test="cholesterol != null" >
        Cholesterol,
      </if>
      <if test="lowcholesterol != null" >
        LowCholesterol,
      </if>
      <if test="heightcholesterol != null" >
        HeightCholesterol,
      </if>
      <if test="flag != null" >
        Flag,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="bloodfatexamid != null" >
        #{bloodfatexamid,jdbcType=INTEGER},
      </if>
      <if test="crowdid != null" >
        #{crowdid,jdbcType=INTEGER},
      </if>
      <if test="examtime != null" >
        #{examtime,jdbcType=DATE},
      </if>
      <if test="triglyceride != null" >
        #{triglyceride,jdbcType=DECIMAL},
      </if>
      <if test="cholesterol != null" >
        #{cholesterol,jdbcType=DECIMAL},
      </if>
      <if test="lowcholesterol != null" >
        #{lowcholesterol,jdbcType=DECIMAL},
      </if>
      <if test="heightcholesterol != null" >
        #{heightcholesterol,jdbcType=DECIMAL},
      </if>
      <if test="flag != null" >
        #{flag,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
  <select id="countByExample" parameterType="com.penzias.entity.BloodFatExamInfoExample" resultType="java.lang.Integer" >
    select count(*) from blood_fat_exam_info
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
  </select>
  <update id="updateByExampleSelective" parameterType="map" >
    update blood_fat_exam_info
    <set >
      <if test="record.bloodfatexamid != null" >
        BloodFatExamID = #{record.bloodfatexamid,jdbcType=INTEGER},
      </if>
      <if test="record.crowdid != null" >
        CrowdID = #{record.crowdid,jdbcType=INTEGER},
      </if>
      <if test="record.examtime != null" >
        ExamTime = #{record.examtime,jdbcType=DATE},
      </if>
      <if test="record.triglyceride != null" >
        Triglyceride = #{record.triglyceride,jdbcType=DECIMAL},
      </if>
      <if test="record.cholesterol != null" >
        Cholesterol = #{record.cholesterol,jdbcType=DECIMAL},
      </if>
      <if test="record.lowcholesterol != null" >
        LowCholesterol = #{record.lowcholesterol,jdbcType=DECIMAL},
      </if>
      <if test="record.heightcholesterol != null" >
        HeightCholesterol = #{record.heightcholesterol,jdbcType=DECIMAL},
      </if>
      <if test="record.flag != null" >
        Flag = #{record.flag,jdbcType=VARCHAR},
      </if>
    </set>
    <if test="_parameter != null" >
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByExample" parameterType="map" >
    update blood_fat_exam_info
    set BloodFatExamID = #{record.bloodfatexamid,jdbcType=INTEGER},
      CrowdID = #{record.crowdid,jdbcType=INTEGER},
      ExamTime = #{record.examtime,jdbcType=DATE},
      Triglyceride = #{record.triglyceride,jdbcType=DECIMAL},
      Cholesterol = #{record.cholesterol,jdbcType=DECIMAL},
      LowCholesterol = #{record.lowcholesterol,jdbcType=DECIMAL},
      HeightCholesterol = #{record.heightcholesterol,jdbcType=DECIMAL},
      Flag = #{record.flag,jdbcType=VARCHAR}
    <if test="_parameter != null" >
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByPrimaryKeySelective" parameterType="com.penzias.entity.BloodFatExamInfo" >
    update blood_fat_exam_info
    <set >
      <if test="crowdid != null" >
        CrowdID = #{crowdid,jdbcType=INTEGER},
      </if>
      <if test="examtime != null" >
        ExamTime = #{examtime,jdbcType=DATE},
      </if>
      <if test="triglyceride != null" >
        Triglyceride = #{triglyceride,jdbcType=DECIMAL},
      </if>
      <if test="cholesterol != null" >
        Cholesterol = #{cholesterol,jdbcType=DECIMAL},
      </if>
      <if test="lowcholesterol != null" >
        LowCholesterol = #{lowcholesterol,jdbcType=DECIMAL},
      </if>
      <if test="heightcholesterol != null" >
        HeightCholesterol = #{heightcholesterol,jdbcType=DECIMAL},
      </if>
      <if test="flag != null" >
        Flag = #{flag,jdbcType=VARCHAR},
      </if>
    </set>
    where BloodFatExamID = #{bloodfatexamid,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.penzias.entity.BloodFatExamInfo" >
    update blood_fat_exam_info
    set CrowdID = #{crowdid,jdbcType=INTEGER},
      ExamTime = #{examtime,jdbcType=DATE},
      Triglyceride = #{triglyceride,jdbcType=DECIMAL},
      Cholesterol = #{cholesterol,jdbcType=DECIMAL},
      LowCholesterol = #{lowcholesterol,jdbcType=DECIMAL},
      HeightCholesterol = #{heightcholesterol,jdbcType=DECIMAL},
      Flag = #{flag,jdbcType=VARCHAR}
    where BloodFatExamID = #{bloodfatexamid,jdbcType=INTEGER}
  </update>
</mapper>