<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.penzias.dao.BloodGlucoseExamInfoMapper" >
  <resultMap id="BaseResultMap" type="com.penzias.entity.BloodGlucoseExamInfo" >
    <id column="BloodGlucoseExamID" property="bloodglucoseexamid" jdbcType="INTEGER" />
    <result column="CrowdID" property="crowdid" jdbcType="INTEGER" />
    <result column="BloodGlucoseType" property="bloodglucosetype" jdbcType="VARCHAR" />
    <result column="ExamTime" property="examtime" jdbcType="DATE" />
    <result column="ExamResult" property="examresult" jdbcType="DECIMAL" />
    <result column="Flag" property="flag" jdbcType="VARCHAR" />
  </resultMap>
  <sql id="Example_Where_Clause" >
    <where >
      <foreach collection="oredCriteria" item="criteria" separator="or" >
        <if test="criteria.valid" >
          <trim prefix="(" suffix=")" prefixOverrides="and" >
            <foreach collection="criteria.criteria" item="criterion" >
              <choose >
                <when test="criterion.noValue" >
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue" >
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue" >
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue" >
                  and ${criterion.condition}
                  <foreach collection="criterion.value" item="listItem" open="(" close=")" separator="," >
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Update_By_Example_Where_Clause" >
    <where >
      <foreach collection="example.oredCriteria" item="criteria" separator="or" >
        <if test="criteria.valid" >
          <trim prefix="(" suffix=")" prefixOverrides="and" >
            <foreach collection="criteria.criteria" item="criterion" >
              <choose >
                <when test="criterion.noValue" >
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue" >
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue" >
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue" >
                  and ${criterion.condition}
                  <foreach collection="criterion.value" item="listItem" open="(" close=")" separator="," >
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Base_Column_List" >
    BloodGlucoseExamID, CrowdID, BloodGlucoseType, ExamTime, ExamResult, Flag
  </sql>
  <select id="selectByExample" resultMap="BaseResultMap" parameterType="com.penzias.entity.BloodGlucoseExamInfoExample" >
    select
    <if test="distinct" >
      distinct
    </if>
    <include refid="Base_Column_List" />
    from blood_glucose_exam_info
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
    <if test="orderByClause != null" >
      order by ${orderByClause}
    </if>
  </select>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Integer" >
    select 
    <include refid="Base_Column_List" />
    from blood_glucose_exam_info
    where BloodGlucoseExamID = #{bloodglucoseexamid,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer" >
    delete from blood_glucose_exam_info
    where BloodGlucoseExamID = #{bloodglucoseexamid,jdbcType=INTEGER}
  </delete>
  <delete id="deleteByExample" parameterType="com.penzias.entity.BloodGlucoseExamInfoExample" >
    delete from blood_glucose_exam_info
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
  </delete>
  <insert id="insert" parameterType="com.penzias.entity.BloodGlucoseExamInfo" >
    insert into blood_glucose_exam_info (BloodGlucoseExamID, CrowdID, BloodGlucoseType, 
      ExamTime, ExamResult, Flag
      )
    values (#{bloodglucoseexamid,jdbcType=INTEGER}, #{crowdid,jdbcType=INTEGER}, #{bloodglucosetype,jdbcType=VARCHAR}, 
      #{examtime,jdbcType=DATE}, #{examresult,jdbcType=DECIMAL}, #{flag,jdbcType=VARCHAR}
      )
  </insert>
  <insert id="insertSelective" parameterType="com.penzias.entity.BloodGlucoseExamInfo" >
    insert into blood_glucose_exam_info
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="bloodglucoseexamid != null" >
        BloodGlucoseExamID,
      </if>
      <if test="crowdid != null" >
        CrowdID,
      </if>
      <if test="bloodglucosetype != null" >
        BloodGlucoseType,
      </if>
      <if test="examtime != null" >
        ExamTime,
      </if>
      <if test="examresult != null" >
        ExamResult,
      </if>
      <if test="flag != null" >
        Flag,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="bloodglucoseexamid != null" >
        #{bloodglucoseexamid,jdbcType=INTEGER},
      </if>
      <if test="crowdid != null" >
        #{crowdid,jdbcType=INTEGER},
      </if>
      <if test="bloodglucosetype != null" >
        #{bloodglucosetype,jdbcType=VARCHAR},
      </if>
      <if test="examtime != null" >
        #{examtime,jdbcType=DATE},
      </if>
      <if test="examresult != null" >
        #{examresult,jdbcType=DECIMAL},
      </if>
      <if test="flag != null" >
        #{flag,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
  <select id="countByExample" parameterType="com.penzias.entity.BloodGlucoseExamInfoExample" resultType="java.lang.Integer" >
    select count(*) from blood_glucose_exam_info
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
  </select>
  <update id="updateByExampleSelective" parameterType="map" >
    update blood_glucose_exam_info
    <set >
      <if test="record.bloodglucoseexamid != null" >
        BloodGlucoseExamID = #{record.bloodglucoseexamid,jdbcType=INTEGER},
      </if>
      <if test="record.crowdid != null" >
        CrowdID = #{record.crowdid,jdbcType=INTEGER},
      </if>
      <if test="record.bloodglucosetype != null" >
        BloodGlucoseType = #{record.bloodglucosetype,jdbcType=VARCHAR},
      </if>
      <if test="record.examtime != null" >
        ExamTime = #{record.examtime,jdbcType=DATE},
      </if>
      <if test="record.examresult != null" >
        ExamResult = #{record.examresult,jdbcType=DECIMAL},
      </if>
      <if test="record.flag != null" >
        Flag = #{record.flag,jdbcType=VARCHAR},
      </if>
    </set>
    <if test="_parameter != null" >
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByExample" parameterType="map" >
    update blood_glucose_exam_info
    set BloodGlucoseExamID = #{record.bloodglucoseexamid,jdbcType=INTEGER},
      CrowdID = #{record.crowdid,jdbcType=INTEGER},
      BloodGlucoseType = #{record.bloodglucosetype,jdbcType=VARCHAR},
      ExamTime = #{record.examtime,jdbcType=DATE},
      ExamResult = #{record.examresult,jdbcType=DECIMAL},
      Flag = #{record.flag,jdbcType=VARCHAR}
    <if test="_parameter != null" >
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByPrimaryKeySelective" parameterType="com.penzias.entity.BloodGlucoseExamInfo" >
    update blood_glucose_exam_info
    <set >
      <if test="crowdid != null" >
        CrowdID = #{crowdid,jdbcType=INTEGER},
      </if>
      <if test="bloodglucosetype != null" >
        BloodGlucoseType = #{bloodglucosetype,jdbcType=VARCHAR},
      </if>
      <if test="examtime != null" >
        ExamTime = #{examtime,jdbcType=DATE},
      </if>
      <if test="examresult != null" >
        ExamResult = #{examresult,jdbcType=DECIMAL},
      </if>
      <if test="flag != null" >
        Flag = #{flag,jdbcType=VARCHAR},
      </if>
    </set>
    where BloodGlucoseExamID = #{bloodglucoseexamid,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.penzias.entity.BloodGlucoseExamInfo" >
    update blood_glucose_exam_info
    set CrowdID = #{crowdid,jdbcType=INTEGER},
      BloodGlucoseType = #{bloodglucosetype,jdbcType=VARCHAR},
      ExamTime = #{examtime,jdbcType=DATE},
      ExamResult = #{examresult,jdbcType=DECIMAL},
      Flag = #{flag,jdbcType=VARCHAR}
    where BloodGlucoseExamID = #{bloodglucoseexamid,jdbcType=INTEGER}
  </update>
</mapper>