<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.penzias.dao.InstitutionCrowdFamilyInfoMapper" >
  <resultMap id="BaseResultMap" type="com.penzias.entity.InstitutionCrowdFamilyInfo" >
    <id column="FamilyID" property="familyid" jdbcType="INTEGER" />
    <result column="CrowdID" property="crowdid" jdbcType="INTEGER" />
    <result column="DiseaseType" property="diseasetype" jdbcType="VARCHAR" />
    <result column="IsExist" property="isexist" jdbcType="VARCHAR" />
    <result column="Father" property="father" jdbcType="VARCHAR" />
    <result column="Mother" property="mother" jdbcType="VARCHAR" />
    <result column="BrotherSister" property="brothersister" jdbcType="VARCHAR" />
    <result column="Children" property="children" jdbcType="VARCHAR" />
    <result column="Flag" property="flag" jdbcType="VARCHAR" />
  </resultMap>
  <sql id="Example_Where_Clause" >
    <where >
      <foreach collection="oredCriteria" item="criteria" separator="or" >
        <if test="criteria.valid" >
          <trim prefix="(" suffix=")" prefixOverrides="and" >
            <foreach collection="criteria.criteria" item="criterion" >
              <choose >
                <when test="criterion.noValue" >
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue" >
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue" >
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue" >
                  and ${criterion.condition}
                  <foreach collection="criterion.value" item="listItem" open="(" close=")" separator="," >
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Update_By_Example_Where_Clause" >
    <where >
      <foreach collection="example.oredCriteria" item="criteria" separator="or" >
        <if test="criteria.valid" >
          <trim prefix="(" suffix=")" prefixOverrides="and" >
            <foreach collection="criteria.criteria" item="criterion" >
              <choose >
                <when test="criterion.noValue" >
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue" >
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue" >
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue" >
                  and ${criterion.condition}
                  <foreach collection="criterion.value" item="listItem" open="(" close=")" separator="," >
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Base_Column_List" >
    FamilyID, CrowdID, DiseaseType, IsExist, Father, Mother, BrotherSister, Children, 
    Flag
  </sql>
  <select id="selectByExample" resultMap="BaseResultMap" parameterType="com.penzias.entity.InstitutionCrowdFamilyInfoExample" >
    select
    <if test="distinct" >
      distinct
    </if>
    <include refid="Base_Column_List" />
    from institution_crowd_family_info
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
    <if test="orderByClause != null" >
      order by ${orderByClause}
    </if>
  </select>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Integer" >
    select 
    <include refid="Base_Column_List" />
    from institution_crowd_family_info
    where FamilyID = #{familyid,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer" >
    delete from institution_crowd_family_info
    where FamilyID = #{familyid,jdbcType=INTEGER}
  </delete>
  <delete id="deleteByExample" parameterType="com.penzias.entity.InstitutionCrowdFamilyInfoExample" >
    delete from institution_crowd_family_info
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
  </delete>
  
  <insert id="batchInsert">
  	insert into institution_crowd_family_info (FamilyID, CrowdID, DiseaseType, 
      IsExist, Father, Mother,  BrotherSister, Children, Flag)
    values
   	<foreach collection="array" item="item" index="index" separator=",">
       (#{familyid,jdbcType=INTEGER}, #{crowdid,jdbcType=INTEGER}, #{diseasetype,jdbcType=VARCHAR}, 
      #{isexist,jdbcType=VARCHAR}, #{father,jdbcType=VARCHAR}, #{mother,jdbcType=VARCHAR}, 
      #{brothersister,jdbcType=VARCHAR}, #{children,jdbcType=VARCHAR}, #{flag,jdbcType=VARCHAR})
   	</foreach>
  </insert>
  
  <insert id="insert" parameterType="com.penzias.entity.InstitutionCrowdFamilyInfo" >
    insert into institution_crowd_family_info (FamilyID, CrowdID, DiseaseType, 
      IsExist, Father, Mother, 
      BrotherSister, Children, Flag
      )
    values (#{familyid,jdbcType=INTEGER}, #{crowdid,jdbcType=INTEGER}, #{diseasetype,jdbcType=VARCHAR}, 
      #{isexist,jdbcType=VARCHAR}, #{father,jdbcType=VARCHAR}, #{mother,jdbcType=VARCHAR}, 
      #{brothersister,jdbcType=VARCHAR}, #{children,jdbcType=VARCHAR}, #{flag,jdbcType=VARCHAR}
      )
  </insert>
  <insert id="insertSelective" parameterType="com.penzias.entity.InstitutionCrowdFamilyInfo" >
    insert into institution_crowd_family_info
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="familyid != null" >
        FamilyID,
      </if>
      <if test="crowdid != null" >
        CrowdID,
      </if>
      <if test="diseasetype != null" >
        DiseaseType,
      </if>
      <if test="isexist != null" >
        IsExist,
      </if>
      <if test="father != null" >
        Father,
      </if>
      <if test="mother != null" >
        Mother,
      </if>
      <if test="brothersister != null" >
        BrotherSister,
      </if>
      <if test="children != null" >
        Children,
      </if>
      <if test="flag != null" >
        Flag,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="familyid != null" >
        #{familyid,jdbcType=INTEGER},
      </if>
      <if test="crowdid != null" >
        #{crowdid,jdbcType=INTEGER},
      </if>
      <if test="diseasetype != null" >
        #{diseasetype,jdbcType=VARCHAR},
      </if>
      <if test="isexist != null" >
        #{isexist,jdbcType=VARCHAR},
      </if>
      <if test="father != null" >
        #{father,jdbcType=VARCHAR},
      </if>
      <if test="mother != null" >
        #{mother,jdbcType=VARCHAR},
      </if>
      <if test="brothersister != null" >
        #{brothersister,jdbcType=VARCHAR},
      </if>
      <if test="children != null" >
        #{children,jdbcType=VARCHAR},
      </if>
      <if test="flag != null" >
        #{flag,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
  <select id="countByExample" parameterType="com.penzias.entity.InstitutionCrowdFamilyInfoExample" resultType="java.lang.Integer" >
    select count(*) from institution_crowd_family_info
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
  </select>
  <update id="updateByExampleSelective" parameterType="map" >
    update institution_crowd_family_info
    <set >
      <if test="record.familyid != null" >
        FamilyID = #{record.familyid,jdbcType=INTEGER},
      </if>
      <if test="record.crowdid != null" >
        CrowdID = #{record.crowdid,jdbcType=INTEGER},
      </if>
      <if test="record.diseasetype != null" >
        DiseaseType = #{record.diseasetype,jdbcType=VARCHAR},
      </if>
      <if test="record.isexist != null" >
        IsExist = #{record.isexist,jdbcType=VARCHAR},
      </if>
      <if test="record.father != null" >
        Father = #{record.father,jdbcType=VARCHAR},
      </if>
      <if test="record.mother != null" >
        Mother = #{record.mother,jdbcType=VARCHAR},
      </if>
      <if test="record.brothersister != null" >
        BrotherSister = #{record.brothersister,jdbcType=VARCHAR},
      </if>
      <if test="record.children != null" >
        Children = #{record.children,jdbcType=VARCHAR},
      </if>
      <if test="record.flag != null" >
        Flag = #{record.flag,jdbcType=VARCHAR},
      </if>
    </set>
    <if test="_parameter != null" >
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByExample" parameterType="map" >
    update institution_crowd_family_info
    set FamilyID = #{record.familyid,jdbcType=INTEGER},
      CrowdID = #{record.crowdid,jdbcType=INTEGER},
      DiseaseType = #{record.diseasetype,jdbcType=VARCHAR},
      IsExist = #{record.isexist,jdbcType=VARCHAR},
      Father = #{record.father,jdbcType=VARCHAR},
      Mother = #{record.mother,jdbcType=VARCHAR},
      BrotherSister = #{record.brothersister,jdbcType=VARCHAR},
      Children = #{record.children,jdbcType=VARCHAR},
      Flag = #{record.flag,jdbcType=VARCHAR}
    <if test="_parameter != null" >
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByPrimaryKeySelective" parameterType="com.penzias.entity.InstitutionCrowdFamilyInfo" >
    update institution_crowd_family_info
    <set >
      <if test="crowdid != null" >
        CrowdID = #{crowdid,jdbcType=INTEGER},
      </if>
      <if test="diseasetype != null" >
        DiseaseType = #{diseasetype,jdbcType=VARCHAR},
      </if>
      <if test="isexist != null" >
        IsExist = #{isexist,jdbcType=VARCHAR},
      </if>
      <if test="father != null" >
        Father = #{father,jdbcType=VARCHAR},
      </if>
      <if test="mother != null" >
        Mother = #{mother,jdbcType=VARCHAR},
      </if>
      <if test="brothersister != null" >
        BrotherSister = #{brothersister,jdbcType=VARCHAR},
      </if>
      <if test="children != null" >
        Children = #{children,jdbcType=VARCHAR},
      </if>
      <if test="flag != null" >
        Flag = #{flag,jdbcType=VARCHAR},
      </if>
    </set>
    where FamilyID = #{familyid,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.penzias.entity.InstitutionCrowdFamilyInfo" >
    update institution_crowd_family_info
    set CrowdID = #{crowdid,jdbcType=INTEGER},
      DiseaseType = #{diseasetype,jdbcType=VARCHAR},
      IsExist = #{isexist,jdbcType=VARCHAR},
      Father = #{father,jdbcType=VARCHAR},
      Mother = #{mother,jdbcType=VARCHAR},
      BrotherSister = #{brothersister,jdbcType=VARCHAR},
      Children = #{children,jdbcType=VARCHAR},
      Flag = #{flag,jdbcType=VARCHAR}
    where FamilyID = #{familyid,jdbcType=INTEGER}
  </update>
</mapper>