<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.penzias.dao.SmUserMapper" >
  <resultMap id="BaseResultMap" type="com.penzias.entity.SmUser" >
    <id column="UserName" property="username" jdbcType="VARCHAR" />
    <result column="PassWord" property="password" jdbcType="VARCHAR" />
    <result column="Email" property="email" jdbcType="VARCHAR" />
    <result column="States" property="states" jdbcType="VARCHAR" />
    <result column="FullName" property="fullname" jdbcType="VARCHAR" />
    <result column="Mobile" property="mobile" jdbcType="VARCHAR" />
    <result column="depBM" property="depbm" jdbcType="VARCHAR" />
    <result column="RoleID" property="roleid" jdbcType="VARCHAR" />
    <result column="UserType" property="usertype" jdbcType="VARCHAR" />
    <result column="CreateDate" property="createdate" jdbcType="TIMESTAMP" />
    <result column="IDNumber" property="idnumber" jdbcType="VARCHAR" />
  </resultMap>
  <sql id="Example_Where_Clause" >
    <where >
      <foreach collection="oredCriteria" item="criteria" separator="or" >
        <if test="criteria.valid" >
          <trim prefix="(" suffix=")" prefixOverrides="and" >
            <foreach collection="criteria.criteria" item="criterion" >
              <choose >
                <when test="criterion.noValue" >
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue" >
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue" >
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue" >
                  and ${criterion.condition}
                  <foreach collection="criterion.value" item="listItem" open="(" close=")" separator="," >
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Update_By_Example_Where_Clause" >
    <where >
      <foreach collection="example.oredCriteria" item="criteria" separator="or" >
        <if test="criteria.valid" >
          <trim prefix="(" suffix=")" prefixOverrides="and" >
            <foreach collection="criteria.criteria" item="criterion" >
              <choose >
                <when test="criterion.noValue" >
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue" >
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue" >
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue" >
                  and ${criterion.condition}
                  <foreach collection="criterion.value" item="listItem" open="(" close=")" separator="," >
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Base_Column_List" >
    UserName, PassWord, Email, States, FullName, Mobile, depBM, RoleID, UserType, CreateDate, 
    IDNumber
  </sql>
  <select id="selectByExample" resultMap="BaseResultMap" parameterType="com.penzias.entity.SmUserExample" >
    select
    <if test="distinct" >
      distinct
    </if>
    <include refid="Base_Column_List" />
    from sm_user
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
    <if test="orderByClause != null" >
      order by ${orderByClause}
    </if>
  </select>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.String" >
    select 
    <include refid="Base_Column_List" />
    from sm_user
    where UserName = #{username,jdbcType=VARCHAR}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.String" >
    delete from sm_user
    where UserName = #{username,jdbcType=VARCHAR}
  </delete>
  <delete id="deleteByExample" parameterType="com.penzias.entity.SmUserExample" >
    delete from sm_user
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
  </delete>
  <insert id="insert" parameterType="com.penzias.entity.SmUser" >
    insert into sm_user (UserName, PassWord, Email, 
      States, FullName, Mobile, 
      depBM, RoleID, UserType, 
      CreateDate, IDNumber)
    values (#{username,jdbcType=VARCHAR}, #{password,jdbcType=VARCHAR}, #{email,jdbcType=VARCHAR}, 
      #{states,jdbcType=VARCHAR}, #{fullname,jdbcType=VARCHAR}, #{mobile,jdbcType=VARCHAR}, 
      #{depbm,jdbcType=VARCHAR}, #{roleid,jdbcType=VARCHAR}, #{usertype,jdbcType=VARCHAR}, 
      #{createdate,jdbcType=TIMESTAMP}, #{idnumber,jdbcType=VARCHAR})
  </insert>
  <insert id="insertSelective" parameterType="com.penzias.entity.SmUser" >
    insert into sm_user
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="username != null" >
        UserName,
      </if>
      <if test="password != null" >
        PassWord,
      </if>
      <if test="email != null" >
        Email,
      </if>
      <if test="states != null" >
        States,
      </if>
      <if test="fullname != null" >
        FullName,
      </if>
      <if test="mobile != null" >
        Mobile,
      </if>
      <if test="depbm != null" >
        depBM,
      </if>
      <if test="roleid != null" >
        RoleID,
      </if>
      <if test="usertype != null" >
        UserType,
      </if>
      <if test="createdate != null" >
        CreateDate,
      </if>
      <if test="idnumber != null" >
        IDNumber,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="username != null" >
        #{username,jdbcType=VARCHAR},
      </if>
      <if test="password != null" >
        #{password,jdbcType=VARCHAR},
      </if>
      <if test="email != null" >
        #{email,jdbcType=VARCHAR},
      </if>
      <if test="states != null" >
        #{states,jdbcType=VARCHAR},
      </if>
      <if test="fullname != null" >
        #{fullname,jdbcType=VARCHAR},
      </if>
      <if test="mobile != null" >
        #{mobile,jdbcType=VARCHAR},
      </if>
      <if test="depbm != null" >
        #{depbm,jdbcType=VARCHAR},
      </if>
      <if test="roleid != null" >
        #{roleid,jdbcType=VARCHAR},
      </if>
      <if test="usertype != null" >
        #{usertype,jdbcType=VARCHAR},
      </if>
      <if test="createdate != null" >
        #{createdate,jdbcType=TIMESTAMP},
      </if>
      <if test="idnumber != null" >
        #{idnumber,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
  <select id="countByExample" parameterType="com.penzias.entity.SmUserExample" resultType="java.lang.Integer" >
    select count(*) from sm_user
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
  </select>
  <update id="updateByExampleSelective" parameterType="map" >
    update sm_user
    <set >
      <if test="record.username != null" >
        UserName = #{record.username,jdbcType=VARCHAR},
      </if>
      <if test="record.password != null" >
        PassWord = #{record.password,jdbcType=VARCHAR},
      </if>
      <if test="record.email != null" >
        Email = #{record.email,jdbcType=VARCHAR},
      </if>
      <if test="record.states != null" >
        States = #{record.states,jdbcType=VARCHAR},
      </if>
      <if test="record.fullname != null" >
        FullName = #{record.fullname,jdbcType=VARCHAR},
      </if>
      <if test="record.mobile != null" >
        Mobile = #{record.mobile,jdbcType=VARCHAR},
      </if>
      <if test="record.depbm != null" >
        depBM = #{record.depbm,jdbcType=VARCHAR},
      </if>
      <if test="record.roleid != null" >
        RoleID = #{record.roleid,jdbcType=VARCHAR},
      </if>
      <if test="record.usertype != null" >
        UserType = #{record.usertype,jdbcType=VARCHAR},
      </if>
      <if test="record.createdate != null" >
        CreateDate = #{record.createdate,jdbcType=TIMESTAMP},
      </if>
      <if test="record.idnumber != null" >
        IDNumber = #{record.idnumber,jdbcType=VARCHAR},
      </if>
    </set>
    <if test="_parameter != null" >
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByExample" parameterType="map" >
    update sm_user
    set UserName = #{record.username,jdbcType=VARCHAR},
      PassWord = #{record.password,jdbcType=VARCHAR},
      Email = #{record.email,jdbcType=VARCHAR},
      States = #{record.states,jdbcType=VARCHAR},
      FullName = #{record.fullname,jdbcType=VARCHAR},
      Mobile = #{record.mobile,jdbcType=VARCHAR},
      depBM = #{record.depbm,jdbcType=VARCHAR},
      RoleID = #{record.roleid,jdbcType=VARCHAR},
      UserType = #{record.usertype,jdbcType=VARCHAR},
      CreateDate = #{record.createdate,jdbcType=TIMESTAMP},
      IDNumber = #{record.idnumber,jdbcType=VARCHAR}
    <if test="_parameter != null" >
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByPrimaryKeySelective" parameterType="com.penzias.entity.SmUser" >
    update sm_user
    <set >
      <if test="password != null" >
        PassWord = #{password,jdbcType=VARCHAR},
      </if>
      <if test="email != null" >
        Email = #{email,jdbcType=VARCHAR},
      </if>
      <if test="states != null" >
        States = #{states,jdbcType=VARCHAR},
      </if>
      <if test="fullname != null" >
        FullName = #{fullname,jdbcType=VARCHAR},
      </if>
      <if test="mobile != null" >
        Mobile = #{mobile,jdbcType=VARCHAR},
      </if>
      <if test="depbm != null" >
        depBM = #{depbm,jdbcType=VARCHAR},
      </if>
      <if test="roleid != null" >
        RoleID = #{roleid,jdbcType=VARCHAR},
      </if>
      <if test="usertype != null" >
        UserType = #{usertype,jdbcType=VARCHAR},
      </if>
      <if test="createdate != null" >
        CreateDate = #{createdate,jdbcType=TIMESTAMP},
      </if>
      <if test="idnumber != null" >
        IDNumber = #{idnumber,jdbcType=VARCHAR},
      </if>
    </set>
    where UserName = #{username,jdbcType=VARCHAR}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.penzias.entity.SmUser" >
    update sm_user
    set PassWord = #{password,jdbcType=VARCHAR},
      Email = #{email,jdbcType=VARCHAR},
      States = #{states,jdbcType=VARCHAR},
      FullName = #{fullname,jdbcType=VARCHAR},
      Mobile = #{mobile,jdbcType=VARCHAR},
      depBM = #{depbm,jdbcType=VARCHAR},
      RoleID = #{roleid,jdbcType=VARCHAR},
      UserType = #{usertype,jdbcType=VARCHAR},
      CreateDate = #{createdate,jdbcType=TIMESTAMP},
      IDNumber = #{idnumber,jdbcType=VARCHAR}
    where UserName = #{username,jdbcType=VARCHAR}
  </update>
  
  <!-- 自定义sql -->
  
  <resultMap id="FirstResultMap" type="com.penzias.entity.SmUser" extends="BaseResultMap">
  	<association property="userInfo" javaType="com.penzias.entity.UserPersonalInfo">
	  	<id column="UserPersonalInfoID" property="userpersonalinfoid" jdbcType="INTEGER" />
	    <result column="UserName" property="username" jdbcType="VARCHAR" />
	    <result column="Name" property="name" jdbcType="VARCHAR" />
	    <result column="Sex" property="sex" jdbcType="VARCHAR" />
	    <result column="BirthDate" property="birthdate" jdbcType="TIMESTAMP" />
	    <result column="Nationality" property="nationality" jdbcType="VARCHAR" />
	    <result column="PoliticsStatus" property="politicsstatus" jdbcType="VARCHAR" />
	    <result column="IdNumber" property="idnumber" jdbcType="VARCHAR" />
	    <result column="Nation" property="nation" jdbcType="VARCHAR" />
	    <result column="Post" property="post" jdbcType="VARCHAR" />
	    <result column="GraduateInstitutions" property="graduateinstitutions" jdbcType="VARCHAR" />
	    <result column="GraduateDate" property="graduatedate" jdbcType="TIMESTAMP" />
	    <result column="Education" property="education" jdbcType="VARCHAR" />
	    <result column="Degree" property="degree" jdbcType="VARCHAR" />
	    <result column="Specialty" property="specialty" jdbcType="VARCHAR" />
	    <result column="Grade" property="grade" jdbcType="VARCHAR" />
	    <result column="Category" property="category" jdbcType="VARCHAR" />
	    <result column="Tel" property="tel" jdbcType="VARCHAR" />
  	</association>
  </resultMap>
  <select id="selectUserInfoByExample" resultMap="FirstResultMap">
  	SELECT
		*
	FROM
		sm_user t
	LEFT JOIN user_personal_info b ON t.UserName = b.UserName
	where 1=1
	<if test="userName!=null">
		and t.UserName like '%${userName}%'
	</if>
	<if test="name!=null">
		and t.FullName like '%${name}%'
	</if>
  </select>
</mapper>