<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.stem.dao.TigerUserOperationMapper" >
  <resultMap id="BaseResultMap" type="com.stem.entity.TigerUserOperation" >
    <id column="id" property="id" jdbcType="INTEGER" />
    <result column="operation_type" property="operationType" jdbcType="CHAR" />
    <result column="operation_uri" property="operationUri" jdbcType="VARCHAR" />
    <result column="operation_content" property="operationContent" jdbcType="VARCHAR" />
    <result column="operation_user" property="operationUser" jdbcType="VARCHAR" />
    <result column="operation_openid" property="operationOpenid" jdbcType="VARCHAR" />
    <result column="operation_time" property="operationTime" jdbcType="TIMESTAMP" />
  </resultMap>
  <sql id="Example_Where_Clause" >
    <where >
      <foreach collection="oredCriteria" item="criteria" separator="or" >
        <if test="criteria.valid" >
          <trim prefix="(" suffix=")" prefixOverrides="and" >
            <foreach collection="criteria.criteria" item="criterion" >
              <choose >
                <when test="criterion.noValue" >
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue" >
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue" >
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue" >
                  and ${criterion.condition}
                  <foreach collection="criterion.value" item="listItem" open="(" close=")" separator="," >
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Update_By_Example_Where_Clause" >
    <where >
      <foreach collection="example.oredCriteria" item="criteria" separator="or" >
        <if test="criteria.valid" >
          <trim prefix="(" suffix=")" prefixOverrides="and" >
            <foreach collection="criteria.criteria" item="criterion" >
              <choose >
                <when test="criterion.noValue" >
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue" >
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue" >
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue" >
                  and ${criterion.condition}
                  <foreach collection="criterion.value" item="listItem" open="(" close=")" separator="," >
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Base_Column_List" >
    id, operation_type, operation_uri, operation_content, operation_user, operation_openid, 
    operation_time
  </sql>
  <select id="selectByExample" resultMap="BaseResultMap" parameterType="com.stem.entity.TigerUserOperationExample" >
    select
    <if test="distinct" >
      distinct
    </if>
    <include refid="Base_Column_List" />
    from tiger_user_operation
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
    <if test="orderByClause != null" >
      order by ${orderByClause}
    </if>
  </select>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Integer" >
    select 
    <include refid="Base_Column_List" />
    from tiger_user_operation
    where id = #{id,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer" >
    delete from tiger_user_operation
    where id = #{id,jdbcType=INTEGER}
  </delete>
  <delete id="deleteByExample" parameterType="com.stem.entity.TigerUserOperationExample" >
    delete from tiger_user_operation
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
  </delete>
  <insert id="insert" parameterType="com.stem.entity.TigerUserOperation" >
    insert into tiger_user_operation (id, operation_type, operation_uri, 
      operation_content, operation_user, operation_openid, 
      operation_time)
    values (#{id,jdbcType=INTEGER}, #{operationType,jdbcType=CHAR}, #{operationUri,jdbcType=VARCHAR}, 
      #{operationContent,jdbcType=VARCHAR}, #{operationUser,jdbcType=VARCHAR}, #{operationOpenid,jdbcType=VARCHAR}, 
      #{operationTime,jdbcType=TIMESTAMP})
  </insert>
  <insert id="insertSelective" parameterType="com.stem.entity.TigerUserOperation" >
    insert into tiger_user_operation
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        id,
      </if>
      <if test="operationType != null" >
        operation_type,
      </if>
      <if test="operationUri != null" >
        operation_uri,
      </if>
      <if test="operationContent != null" >
        operation_content,
      </if>
      <if test="operationUser != null" >
        operation_user,
      </if>
      <if test="operationOpenid != null" >
        operation_openid,
      </if>
      <if test="operationTime != null" >
        operation_time,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        #{id,jdbcType=INTEGER},
      </if>
      <if test="operationType != null" >
        #{operationType,jdbcType=CHAR},
      </if>
      <if test="operationUri != null" >
        #{operationUri,jdbcType=VARCHAR},
      </if>
      <if test="operationContent != null" >
        #{operationContent,jdbcType=VARCHAR},
      </if>
      <if test="operationUser != null" >
        #{operationUser,jdbcType=VARCHAR},
      </if>
      <if test="operationOpenid != null" >
        #{operationOpenid,jdbcType=VARCHAR},
      </if>
      <if test="operationTime != null" >
        #{operationTime,jdbcType=TIMESTAMP},
      </if>
    </trim>
  </insert>
  <select id="countByExample" parameterType="com.stem.entity.TigerUserOperationExample" resultType="java.lang.Integer" >
    select count(*) from tiger_user_operation
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
  </select>
  <update id="updateByExampleSelective" parameterType="map" >
    update tiger_user_operation
    <set >
      <if test="record.id != null" >
        id = #{record.id,jdbcType=INTEGER},
      </if>
      <if test="record.operationType != null" >
        operation_type = #{record.operationType,jdbcType=CHAR},
      </if>
      <if test="record.operationUri != null" >
        operation_uri = #{record.operationUri,jdbcType=VARCHAR},
      </if>
      <if test="record.operationContent != null" >
        operation_content = #{record.operationContent,jdbcType=VARCHAR},
      </if>
      <if test="record.operationUser != null" >
        operation_user = #{record.operationUser,jdbcType=VARCHAR},
      </if>
      <if test="record.operationOpenid != null" >
        operation_openid = #{record.operationOpenid,jdbcType=VARCHAR},
      </if>
      <if test="record.operationTime != null" >
        operation_time = #{record.operationTime,jdbcType=TIMESTAMP},
      </if>
    </set>
    <if test="_parameter != null" >
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByExample" parameterType="map" >
    update tiger_user_operation
    set id = #{record.id,jdbcType=INTEGER},
      operation_type = #{record.operationType,jdbcType=CHAR},
      operation_uri = #{record.operationUri,jdbcType=VARCHAR},
      operation_content = #{record.operationContent,jdbcType=VARCHAR},
      operation_user = #{record.operationUser,jdbcType=VARCHAR},
      operation_openid = #{record.operationOpenid,jdbcType=VARCHAR},
      operation_time = #{record.operationTime,jdbcType=TIMESTAMP}
    <if test="_parameter != null" >
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByPrimaryKeySelective" parameterType="com.stem.entity.TigerUserOperation" >
    update tiger_user_operation
    <set >
      <if test="operationType != null" >
        operation_type = #{operationType,jdbcType=CHAR},
      </if>
      <if test="operationUri != null" >
        operation_uri = #{operationUri,jdbcType=VARCHAR},
      </if>
      <if test="operationContent != null" >
        operation_content = #{operationContent,jdbcType=VARCHAR},
      </if>
      <if test="operationUser != null" >
        operation_user = #{operationUser,jdbcType=VARCHAR},
      </if>
      <if test="operationOpenid != null" >
        operation_openid = #{operationOpenid,jdbcType=VARCHAR},
      </if>
      <if test="operationTime != null" >
        operation_time = #{operationTime,jdbcType=TIMESTAMP},
      </if>
    </set>
    where id = #{id,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.stem.entity.TigerUserOperation" >
    update tiger_user_operation
    set operation_type = #{operationType,jdbcType=CHAR},
      operation_uri = #{operationUri,jdbcType=VARCHAR},
      operation_content = #{operationContent,jdbcType=VARCHAR},
      operation_user = #{operationUser,jdbcType=VARCHAR},
      operation_openid = #{operationOpenid,jdbcType=VARCHAR},
      operation_time = #{operationTime,jdbcType=TIMESTAMP}
    where id = #{id,jdbcType=INTEGER}
  </update>
</mapper>