<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.stem.dao.WxTextReplyMapper" >
  <resultMap id="BaseResultMap" type="com.stem.entity.WxTextReply" >
    <id column="id" property="id" jdbcType="INTEGER" />
    <result column="text_keyword" property="textKeyword" jdbcType="VARCHAR" />
    <result column="text_content" property="textContent" jdbcType="VARCHAR" />
    <result column="text_status" property="textStatus" jdbcType="INTEGER" />
  </resultMap>
  <sql id="Example_Where_Clause" >
    <where >
      <foreach collection="oredCriteria" item="criteria" separator="or" >
        <if test="criteria.valid" >
          <trim prefix="(" suffix=")" prefixOverrides="and" >
            <foreach collection="criteria.criteria" item="criterion" >
              <choose >
                <when test="criterion.noValue" >
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue" >
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue" >
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue" >
                  and ${criterion.condition}
                  <foreach collection="criterion.value" item="listItem" open="(" close=")" separator="," >
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Update_By_Example_Where_Clause" >
    <where >
      <foreach collection="example.oredCriteria" item="criteria" separator="or" >
        <if test="criteria.valid" >
          <trim prefix="(" suffix=")" prefixOverrides="and" >
            <foreach collection="criteria.criteria" item="criterion" >
              <choose >
                <when test="criterion.noValue" >
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue" >
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue" >
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue" >
                  and ${criterion.condition}
                  <foreach collection="criterion.value" item="listItem" open="(" close=")" separator="," >
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Base_Column_List" >
    id, text_keyword, text_content, text_status
  </sql>
  <select id="selectByExample" resultMap="BaseResultMap" parameterType="com.stem.entity.WxTextReplyExample" >
    select
    <if test="distinct" >
      distinct
    </if>
    <include refid="Base_Column_List" />
    from wx_text_reply
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
    <if test="orderByClause != null" >
      order by ${orderByClause}
    </if>
  </select>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Integer" >
    select 
    <include refid="Base_Column_List" />
    from wx_text_reply
    where id = #{id,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer" >
    delete from wx_text_reply
    where id = #{id,jdbcType=INTEGER}
  </delete>
  <delete id="deleteByExample" parameterType="com.stem.entity.WxTextReplyExample" >
    delete from wx_text_reply
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
  </delete>
  <insert id="insert" parameterType="com.stem.entity.WxTextReply" >
    insert into wx_text_reply (id, text_keyword, text_content, 
      text_status)
    values (#{id,jdbcType=INTEGER}, #{textKeyword,jdbcType=VARCHAR}, #{textContent,jdbcType=VARCHAR}, 
      #{textStatus,jdbcType=INTEGER})
  </insert>
  <insert id="insertSelective" parameterType="com.stem.entity.WxTextReply" >
    insert into wx_text_reply
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        id,
      </if>
      <if test="textKeyword != null" >
        text_keyword,
      </if>
      <if test="textContent != null" >
        text_content,
      </if>
      <if test="textStatus != null" >
        text_status,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        #{id,jdbcType=INTEGER},
      </if>
      <if test="textKeyword != null" >
        #{textKeyword,jdbcType=VARCHAR},
      </if>
      <if test="textContent != null" >
        #{textContent,jdbcType=VARCHAR},
      </if>
      <if test="textStatus != null" >
        #{textStatus,jdbcType=INTEGER},
      </if>
    </trim>
  </insert>
  <select id="countByExample" parameterType="com.stem.entity.WxTextReplyExample" resultType="java.lang.Integer" >
    select count(*) from wx_text_reply
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
  </select>
  <update id="updateByExampleSelective" parameterType="map" >
    update wx_text_reply
    <set >
      <if test="record.id != null" >
        id = #{record.id,jdbcType=INTEGER},
      </if>
      <if test="record.textKeyword != null" >
        text_keyword = #{record.textKeyword,jdbcType=VARCHAR},
      </if>
      <if test="record.textContent != null" >
        text_content = #{record.textContent,jdbcType=VARCHAR},
      </if>
      <if test="record.textStatus != null" >
        text_status = #{record.textStatus,jdbcType=INTEGER},
      </if>
    </set>
    <if test="_parameter != null" >
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByExample" parameterType="map" >
    update wx_text_reply
    set id = #{record.id,jdbcType=INTEGER},
      text_keyword = #{record.textKeyword,jdbcType=VARCHAR},
      text_content = #{record.textContent,jdbcType=VARCHAR},
      text_status = #{record.textStatus,jdbcType=INTEGER}
    <if test="_parameter != null" >
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByPrimaryKeySelective" parameterType="com.stem.entity.WxTextReply" >
    update wx_text_reply
    <set >
      <if test="textKeyword != null" >
        text_keyword = #{textKeyword,jdbcType=VARCHAR},
      </if>
      <if test="textContent != null" >
        text_content = #{textContent,jdbcType=VARCHAR},
      </if>
      <if test="textStatus != null" >
        text_status = #{textStatus,jdbcType=INTEGER},
      </if>
    </set>
    where id = #{id,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.stem.entity.WxTextReply" >
    update wx_text_reply
    set text_keyword = #{textKeyword,jdbcType=VARCHAR},
      text_content = #{textContent,jdbcType=VARCHAR},
      text_status = #{textStatus,jdbcType=INTEGER}
    where id = #{id,jdbcType=INTEGER}
  </update>
</mapper>